body {
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    border: 8px solid black;
}

p {
    font-family: arial;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}
.product-entry{
    color: sienna;
    font-weight: bold;
    font-size: 25px;
}

.product{
    font-size:40px;
    font-weight: bold;
}

.description{
    font-size: 65px;
    font-weight: bold;
}

.price{
    font-size: 20px;
    margin-top: 10px;
}

.buy-button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 103, 196);
    color: white;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 16px 10px 16px;
    border-radius: 160px;
    transition: padding 0.8s ease, background-color 0.2s ease, font-size 0.8s ease;
    margin-top: 10px;
}

.buy-button:hover{
    background-color: rgba(4, 107, 203, 0.8);
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
    font-size: 20px;
    
}

.buy-button:active{
    background-color: rgb(0, 0, 0, 0.9);
}