html, body {
    font-family: "Montserrat", sans-serif;
    margin: 0px;
}
.main-text {
    font-size: 50px;
    color: black;
    text-align: center;
    margin-bottom: 0px;
}

paragraph-text {
    margin-top: 0px;
    font-size: 20px;
    color: black;
    text-align: center;
}

.paragraph-text-2 {
    text-decoration: underline;
    transition: background-color 0.3s, color 0.3s;
}

.paragraph-text-2:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.logo {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}
.input-text {
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    border: solid;
    border-width: 2px;
    border-color: grey;
    margin-bottom: 50px;
}
.LinkedIn-input {
    margin-bottom: 10px;
    margin-left: 5px;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: grey;
    padding-right: 140px;
    font-size: 20px;
}
.email-text {
    margin-bottom: 5px;
    margin-left: 5px;
    color: rgb(82, 82, 82);
    font-size: 15px;
    font-weight: 500;
}
.agreement-text {
    margin: 0px;
    margin-left: 5px;
    font-size: 14px;
    color: rgb(82, 82, 82);
    font-weight: 500;
}
